* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background-color: #e5e5e5;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
}

.wrap {
  width: 500px;
  margin: 50px auto;
  padding: 20px;

  -webkit-border-radius: 5px;
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  
  background: #cfe7fa; /* Old browsers */
  background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* W3C */
  
  border: 2px #ccc solid;
	
	box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
	
	font: 12px Verdana, Geneva, sans-serif;
	
}

.wrap h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  text-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
}

.wrap token-input-dropdown p {
  margin: 0;
}

.wrap #mainInput {
  height: 30px;
  font-size: 18px;
  overflow: hidden; 
  height: auto !important; 
  width: 500px;
  border: 1px solid #999;
  cursor: text;
  font-family: Verdana;
  z-index: 999;
  margin: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
  padding: 3px 8px;
  -webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, #eee 6%, #fff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#eee), color-stop(100%,#fff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eee 6%,#fff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eee 6%,#fff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #eee 6%,#fff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #eee 6%,#fff 100%); /* W3C */
}

.wrap #mainInput:hover, .wrap #mainInput:focus {
  border-color: #333;
  background: #f0f0f0; /* Old browsers */
  background: -moz-linear-gradient(top, #f0f0f0 6%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* W3C */
}

.dropdown {
    position: absolute;
    display: none;
    width: 497px;
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0,0,0, 0.2) 2px 2px 2px;
  	-moz-box-shadow: rgba(0,0,0, 0.2) 2px 2px 2px;
  	-webkit-box-shadow: rgba(0,0,0, 0.2) 2px 2px 2px;
  	
  	border-radius: 2px;
  	
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}
.dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}
div.dropdown ul {
    margin: 0;
    padding: 5px;
}
div.dropdown ul li {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    padding: 3px;
    list-style-type: none;
}
div.dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.dropdown ul li.selected {
    background-color: rgba(200, 200, 200, 0.75);
}

.iform ul { margin:0; padding:0; list-style:none;}
.iform ul ul { overflow:auto}
.iform li { padding-bottom:5px;}
.iform label { 
 width:130px; display:block; float:left; line-height:26px;
}
.iform label.ilabel { 
 width:auto; display:inline; float:none; line-height:26px; padding:0 5px
}
.iform .itext,.iform .itextarea,.iform .iselect,.iform .ibutton { 	
	width:150px;
	border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	margin:0;
	padding:5px;
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, #eee 6%, #fff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#eee), color-stop(100%,#fff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eee 6%,#fff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eee 6%,#fff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #eee 6%,#fff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #eee 6%,#fff 100%); /* W3C */	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}
.iform .itext:hover,.iform .itextarea:hover,.iform .iselect:hover,.iform .ibutton:hover,
.iform .itext:focus,.iform .itextarea:focus,.iform .iselect:focus,.iform .ibutton:focus{
border-color: #333;
background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top, #f0f0f0 6%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f0f0f0 6%,#ffffff 100%); /* W3C */
}
.iform .itext {
}
.iform .itextarea{ 
	height:100px; width: 250px;
}
.iform .ibutton {
	width:auto;
	background: #efefef;
	background: -webkit-gradient(linear, left top, left 25, from(#dadada), color-stop(6%, #efefef), to(#dadada));
	background: -moz-linear-gradient(top, #dadada, #efefef 2px, #dadada 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.iform .ibutton:hover,.iform .ibutton:focus { background:#dadada;}
.iform li.iheader { display:block; font-size:18px; border-bottom:1px solid #000; padding:5px; text-indent:10px; margin:5px 0 15px }
.iform li.iseparator { display:block; text-indent:-9999px; height:10px; line-height:10px; border-bottom:1px solid #999;margin:5px 0 15px }
.iform .required { border-color:#F00; }
#imessageOK,#imessageERROR{ border:1px solid #F60; padding:5px; font-size:13px; font-weight:bold; text-align: center; display:none; margin-bottom:20px;
	background: #F90;
	background: -webkit-gradient(linear, left top, left 25, from(#F90), color-stop(4%, #FC0), to(#F90));
	background: -moz-linear-gradient(top, #F90, #FC0 1px, #F90 25px);
	color:#fff;
	}

#noscript{position:fixed;top:0;left:0;width:100%;height:100%;display:block}
#noscript .message{display:block;width:300px;position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:-50px;text-align:center;background-color:#ffebe8;border:2px solid #dd3c10;z-index:100;padding:10px}
#noscript .overlay{opacity:0.5;display:block;position:absolute;top:0;left:0;background-color:#555;width:100%;height:100%}

.hidden {position:absolute;left:-1000px;height: 1px;width:1px}
#loader {width:100;text-align: center;display: none;margin: 0 auto;}
.center {text-align: center;}